<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webfood.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="webfood.model.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="CHINESNAME" property="chinesname" jdbcType="VARCHAR" />
    <result column="DEPT" property="dept" jdbcType="INTEGER" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="TELPHONE" property="telphone" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="MenuVoResultMap" type="webfood.vo.MenuVo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_NAME, PASSWORD, CHINESNAME, DEPT, EMAIL, TELPHONE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hz_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="findUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hz_user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="getMenu" resultMap="MenuVoResultMap" parameterType="java.lang.String" >
    ${sql}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hz_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="webfood.model.User" >
    insert into hz_user (ID, USER_NAME, PASSWORD, 
      CHINESNAME, DEPT, EMAIL, 
      TELPHONE)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{chinesname,jdbcType=VARCHAR}, #{dept,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{telphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="webfood.model.User" >
    insert into hz_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="chinesname != null" >
        CHINESNAME,
      </if>
      <if test="dept != null" >
        DEPT,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="telphone != null" >
        TELPHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="chinesname != null" >
        #{chinesname,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="webfood.model.User" >
    update hz_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="chinesname != null" >
        CHINESNAME = #{chinesname,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        DEPT = #{dept,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        TELPHONE = #{telphone,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="webfood.model.User" >
    update hz_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CHINESNAME = #{chinesname,jdbcType=VARCHAR},
      DEPT = #{dept,jdbcType=INTEGER},
      EMAIL = #{email,jdbcType=VARCHAR},
      TELPHONE = #{telphone,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>