<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webfood.mapper.DicClassMapper" >
  <resultMap id="BaseResultMap" type="webfood.model.DicClass" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="SHOWABLE" property="showable" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CLASS_NAME, SHOWABLE, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hz_dic_class
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hz_dic_class
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="webfood.model.DicClass" >
    insert into hz_dic_class (ID, CLASS_NAME, SHOWABLE, 
      REMARK)
    values (#{id,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{showable,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="webfood.model.DicClass" >
    insert into hz_dic_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="className != null" >
        CLASS_NAME,
      </if>
      <if test="showable != null" >
        SHOWABLE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="showable != null" >
        #{showable,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="webfood.model.DicClass" >
    update hz_dic_class
    <set >
      <if test="className != null" >
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="showable != null" >
        SHOWABLE = #{showable,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="webfood.model.DicClass" >
    update hz_dic_class
    set CLASS_NAME = #{className,jdbcType=VARCHAR},
      SHOWABLE = #{showable,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>